{% extends 'common/template.html' %}

{% load custom_tags %}

{% block body %}
    <div class="wrapper small center">
        <div class="toggle-container">
            <div class="toggle-header">
                <span class="toggle-button {% if not create_account_form.errors %} active{% endif %}" data-target="login">Login</span>
                <span class="toggle-button {% if create_account_form.errors %} active{% endif %}" data-target="create-account">Create Account</span>
            </div>
            <div class="toggle-body">
                <div class="toggle-target login {% if not create_account_form.errors %} active{% endif %}">
                    <h3>Login</h3>
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}

                        {% input_field login_form login_form.username %}

                        {% input_field login_form login_form.password 'password' %}

                        <input type="submit" class="btn" name="login" value="Login" />

                        {% if login_form.errors %}
                            <span class="alert alert-danger">* Fields in red are required</span>
                        {% endif %}
                    </form>
                </div>
                <div class="toggle-target create-account {% if create_account_form.errors %} active{% endif %}">
                    <h3>Create Account</h3>
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}

                        {% input_field create_account_form create_account_form.first_name %}

                        {% input_field create_account_form create_account_form.last_name %}

                        {% input_field create_account_form create_account_form.email %}

                        {% input_field create_account_form create_account_form.username %}

                        {% input_field create_account_form create_account_form.password 'password' %}

                        {% input_field create_account_form create_account_form.confirm_password 'password' %}

                        <input type="submit" class="btn" name="create_account" value="Create Account" />

                        {% if create_account_form.errors %}
                            <span class="alert alert-danger">* Fields in red are required</span>

                            {% for error in create_account_form.password.errors %}
                                {% if 'required' not in error %}
                                    <span class="alert alert-danger">Password error: {{ error }}</span>
                                {% endif %}
                            {% endfor %}

                            {% for error in create_account_form.confirm_password.errors %}
                                {% if 'required' not in error %}
                                    <span class="alert alert-danger">Confirm password error: {{ error }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}